.main-container {
    justify-content: center;
    background-color: #d9d7d1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: xx-large;
    margin: 70px 0;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.info {
    color: #8394c1;
    font-size: small;
}

.spinner-icon {
    margin-top: 10px;
    color: #8394c1;
    cursor: pointer;
}

.spinner-icon-non-action {
    transition: ease-in-out 1s;
}

.spinner-icon-non-action:hover {
    transform: rotate(-90deg);
}

.spinner-icon-action {
    transition: transform 0.25s;
    transform: rotate(360deg);
}

.password {
    margin-top: 70px;
    padding: 40px;
    font-size: x-large;
    word-wrap: break-word;
    line-height: 30px;
    border-radius: 10px;
    max-width: 70%;
    cursor: pointer;
    background-color: white;
    color: #8394c1;
    border: 1px solid #8394c1;
    transition: background-color 2s, transform 2s;
}

.password-copied {
    background-color: #8394c1;
    border: white;
    color: white;
    transition: background-color 2s, transform 2s;
}

.password:hover {
    padding: 40px 60px;
    transition: padding, all 0.5s ease-in-out;
}

.text-under-pass-copied {
    color: #8394c1;
}

@media screen and (max-width: 600px) {
    .password {
        margin-top: 50px;
        padding: 25px 25px;
        font-size: medium;
    }
    .password:hover {
        padding: 25px 25px;
    }
    h1 {
        margin: 50px 0;
    }
}
