.main-container {
  justify-content: center;
  background-color: #d9d7d1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: xx-large;
  margin: 70px 0;
  text-align: center;
}
